<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- centrar el titulo -->
    <ion-title class="ion-text-center">CoffeeJugs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="container">

    <ion-card>
      <ion-card-header class="header">
        <ion-title>Iniciar Sesion</ion-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item lines="full">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario"></ion-input>
      </ion-item>
      
      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="ingresar()">Ingresar</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="outline" (click)="irRegistro()">¿No tienes cuenta? Regístrate aquí</ion-button>
        </ion-col>
      </ion-row>      
<!-- 
      <ion-item lines="none" class="ion-text-center">
        <ion-label>
          <a>¿No tienes cuenta? Regístrate aquí</a>
        </ion-label>
      </ion-item> -->

    </ion-card-content>
  </ion-card>
</div>
</ion-content>
