<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jarras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Jarra fineMax v1</mat-card-title>
        <mat-card-subtitle>Punta fina</mat-card-subtitle>
      </mat-card-header >
      <img mat-card-xl-image src="../../assets/img/fine_1.avif" alt="fineMax v1">
      <mat-card-content>
        <p>
          La jarra fineMax v1 es ideal para aquellos que buscan precisión en sus diseños de latte art.
          Con su punta fina, permite crear detalles intrincados y líneas delicadas, perfectas para rosetas y cisnes con plumas definidas.
        </p>
      </mat-card-content>
      <div style="padding: 16px; text-align: center;">
        <ion-button (click)="presentPopover($event)">Me gusta!</ion-button>
          <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
            <ng-template>
              <ion-content class="ion-padding">A nosotros igual nos gusta :D</ion-content>
            </ng-template>
          </ion-popover>
      </div>
      </mat-card>
   
   
      <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Jarra fineMax v2</mat-card-title>
        <mat-card-subtitle>Punta fina</mat-card-subtitle>
      </mat-card-header >
      <img mat-card-xl-image src="../../assets/img/fine_2.avif" alt="fineMax v2">
      <mat-card-content>
        <p>
          La jarra fineMax v2 es una versión mejorada de la fineMax v1, ofreciendo un diseño más ergonómico y una punta aún más precisa.
          Ideal para aquellos que buscan perfeccionar sus habilidades en latte art, permitiendo un flujo de leche controlado y un acabado impecable.
        </p>
      </mat-card-content>
      <div style="padding: 16px; text-align: center;">
        <ion-button (click)="presentPopover($event)" style="width: 30%;" expand="fill" >Me gusta!</ion-button>
      </div>
    </mat-card>


      <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Jarra fineMax v3</mat-card-title>
        <mat-card-subtitle>Punta fina</mat-card-subtitle>
      </mat-card-header >
      <img mat-card-xl-image src="../../assets/img/fine_3.avif" alt="fineMax v3">
      <mat-card-content>
        <p>
          La jarra fineMax v3 es la opción definitiva para los amantes del latte art.
          Con su punta ultra fina y diseño optimizado, permite crear los diseños más detallados y complejos con facilidad.
          Perfecta para baristas profesionales y aficionados que buscan llevar sus habilidades al siguiente nivel.
        </p>
      </mat-card-content>
      <div style="padding: 16px; text-align: center;">
        <ion-button (click)="presentPopover($event)" style="width: 30%;" expand="fill" >Me gusta!</ion-button>
      </div>
    </mat-card>


      <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Jarra roundedPro v1</mat-card-title>
        <mat-card-subtitle>Punta redonda</mat-card-subtitle>
      </mat-card-header >
      <img mat-card-xl-image src="../../assets/img/rounder_1.avif" alt="rounderPro v1">
      <mat-card-content>
        <p>
          La jarra roundedPro v1 es perfecta para aquellos que prefieren un flujo de leche más amplio y menos controlado.
          Su punta redonda permite crear formas más grandes y robustas, ideales para corazones y tulipanes.
          Es una excelente opción para quienes disfrutan de un estilo de latte art más audaz y menos detallado.
        </p>
      </mat-card-content>
      <div style="padding: 16px; text-align: center;">
        <ion-button (click)="presentPopover($event)" style="width: 30%;" expand="fill" >Me gusta!</ion-button>
      </div>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Jarra rounderPro v2</mat-card-title>
        <mat-card-subtitle>Punta redonda</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/rounder_2.avif" alt="rounderPro v2">
      <mat-card-content>
        <p>
          La jarra rounderPro v2 es una versión mejorada de la rounderPro v1, ofreciendo un diseño más ergonómico y una punta redonda optimizada.
          Ideal para aquellos que buscan un flujo de leche más amplio y un acabado más suave en sus diseños de latte art.
          Permite crear formas grandes y audaces con facilidad, perfecta para baristas que disfrutan de un estilo más libre.
        </p>
      </mat-card-content>
      <div style="padding: 16px; text-align: center;">
        <ion-button (click)="presentPopover($event)" style="width: 30%;" expand="fill" >Me gusta!</ion-button>
      </div>
    </mat-card>

  </div>
    


</ion-content>
